* {
  margin: 0;
  padding: 0;
}

.toolbar {
  display: flex;
  background-color: #3c3a39;
  height: 48;
  justify-content: space-between;
  color: white;
  font-weight: 700;
}

.toolbar a {
  width: 101px;
  height: 44px;
  padding: 10px 12px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 40px;
  margin-right: 24px;
  padding: 8px;
  justify-content: center;
  align-items: center;
}

.button img {
  order: 0;
  width: 35px;
  flex-grow: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 8px;
}

.container > * {
  box-sizing: border-box;
}

.container .wrapper {
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 590px;
  background-image: url('images/Illustration.png');
  background-repeat: no-repeat;
  background-position: right bottom -30px;
  padding: 120px 24px;
  top: 92px;
}

.wrapper h1 {
  margin: 6px 0;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37;
  color: #ff6b00;
  font-weight: 400;
}

.wrapper h3 {
  margin: 6px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: white;
  line-height: 32px;
  display: flex;
  align-items: center;
  order: 1;
}

.description {
  margin: 6px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: white;
  flex: none;
  order: 2;
}

.content2 {
  width: 100%;
  background: white;
}

.social-media {
  margin-top: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 200px;
  color: #dbd8d7;
  justify-content: space-between;
}

.social-media a {
  width: 40px;
  height: 40px;
  padding: 8px;
  font-size: 25px;
}

.my-recent-works {
  display: grid;
  margin-top: 120px;
}

.my-recent-works h2 {
  font-family: 'Crete Round', sans-serif;
  color: #1c1a19;
  font-size: 40px;
  line-height: 52px;
  padding: 10px 12px;
}

.my-recent-works .head-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title hr {
  width: 327px;
  border: 1px solid #212121;
  order: 0;
  flex: none;
  margin-top: 24px;
  margin-bottom: 80px;
}

.poster {
  flex: none;
  width: 327px;
  height: 237px;
  background-image: url('images/display.png');
  background-size: cover;
}

.describing-block {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 327px;
  gap: 12px;
}

.describing-block h3 {
  font-family: 'Crete Round', sans-serif;
  color: #1c1a19;
  font-size: 32px;
  line-height: 44px;
}

.describing-block p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.block-list {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.block-list ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.block-list li {
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  border: 1px solid #8993a4;
  padding: 10px 12px;
  gap: 12px;
  margin-right: 10px;
}

.btn {
  padding: 12px;
  gap: 10px;
  width: 127px;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: white;
  border: none;
}

.btn:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

.cards {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  gap: 24px;
  margin-top: 20px;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 386px;
  width: 327px;
  margin-top: 12px;
  background: url('images/cards-bg.png');
  background-repeat: no-repeat;
  background-size: 340px auto;
}

.card h4 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 32px;
  color: white;
  padding: 80px 12px 10px 12px;
  line-height: 44px;
}

.card p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 295px;
  color: white;
  padding: 0 0 5px 12px;
  line-height: 24px;
}

.tags ul {
  margin-top: -10px;
  width: 236px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
}

.tags li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: white;
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
}

.btn-2 {
  margin-top: 10px;
  padding: 12px;
  gap: 10px;
  width: 100%;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: white;
  border: none;
}

.btn-2:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

.about {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 0;
  gap: 24px;
  background-color: #1c1a19;
  width: 375px;
  margin-bottom: -1px;
}

.about h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  line-height: 88px;
  font-size: 72px;
  color: #ff6b00;
  letter-spacing: 0.37px;
  text-align: center;
  padding: 0 24px;
}

.about p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: white;
  width: 325px;
  line-height: 24px;
  padding: 0 24px;
}

.btn-resume {
  padding: 12px;
  gap: 10px;
  width: 161px;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: white;
  border: none;
  margin-left: 24px;
}

.btn-resume:hover {
  color: #f55800;
  background: #fff5e1;
  border: 1px solid #f55800;
}

.about-cover {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 480px;
  background-image: url(images/aboutme.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 260px;
}

.about hr {
  color: white;
  border: 1px solid white;
  width: 327px;
  margin: -15px 0 24px 24px;
}

.skills {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: #1c1a19;
  font-family: 'Inter', sans-serif;
  padding-top: 70px;
  padding-bottom: 120px;
  width: 100%;
}

.skills ul {
  list-style: none;
  text-align: center;
}

.skills ul li {
  font-size: 22px;
  line-height: 44px;
  margin: 32px 0;
}

.shape {
  width: 18px;
  height: 18px;
  background-color: #ff6b00;
  margin-right: 12px;
}

.skills .title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
}

#cube {
  transform: rotate(45deg);
}

#circle {
  border-radius: 50%;
}

.contact {
  width: 375px;
  height: 920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #E5E5E5;
}

.contact-message {
  margin-top: 120px;
}

.contact-message h3 {
  width: 327px;
  height: 216px;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: hsl(218, 54%, 20%);
}

form {
  width: 327px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  margin-top: 59px;
}

form input {
  width: 327px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 16px;
  color: #979493;
  border: 1px solid #DBD8D7;

}

form textarea {
  width: 327px;
  height: 114px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color:  #3C3A39;
  background: #FBF8F7; 
  border: none;
}

form button {
  width: 131px;
  height: 48px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  align-items: center;
  gap: 10px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background: #FF6B00;
  border: none;
}

.contact .social-media {
  color: #505F79;
}

.contact .line {
  width: 134px;
  height: 5px;
  margin-bottom: 8px;
  background: #0D151E;
  border-radius: 10px;
  
}

.contact hr {
  top: 10px;
  width: 375px;
  margin-top: 124px;
  border: 1px solid #DFE1E6;;
}